@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow-x: hidden;
}



/* Common CSS START */
.sec-title {
    text-align: center;
    font-size: 44px;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 70px;
}

.sec-title span {
    color: #ff6b5e;
}

.spoiler-btn {
    display: block;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    font-size: 34px;
    line-height: 80px;
    font-weight: 600;
    background-color: #ff6b5e;
    color: #fff;
    padding: 0px 25px;
    border: 3px solid #000;
    border-radius: 10px;
    position: relative;
    margin-bottom: 35px;
}
.spoiler-btn:hover::before {
    top: 0;
    left: 0;
}

.medium-title {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 50px;
}

.medium-title span {
    color: #ff6b5e;
}

@keyframes mymovetb {
    0% {
        transform: translateY(0px) scale(1);
    }

    25% {
        transform: translateY(-10px) scale(1.01);
    }

    50% {
        transform: translateX(-20px) scale(1.02);
    }

    75% {
        transform: translateX(-10px) scale(1.01);
    }

    100% {
        transform: translateY(-20px) scale(1);
    }
}

/* Common CSS END */

/* Spoiler Section STRAT */

.spoiler {
    padding: 60px;
    position: relative;
}

.spoiler img.banner-shap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    animation: mymovetb 5s infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}

.spoiler-images picture {
    width: fit-content;
    display: block;
    height: fit-content;
    border: 1px solid #fff;
    position: relative;
}

.spoiler-images picture:before {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
}

.spoiler-images picture:hover::before {
    opacity: 1;
}

.spoiler-alert {
    position: relative;
    padding: 0px 60px;
}
.small-title {
    text-align: center;
    font-size: 14px;
    line-height: 80px;
    font-weight: 600;
}

.spoiler-alert:before {
    content: "";
    position: absolute;
    background: #f5f7f9;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    left: 0px;
    top: 0;
}
.spoiler-btn:before {
    content: "";
    position: absolute;
    border: 3px solid #000;
    top: 13px;
    left: 13px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.5s;
}

.spoiler-content h3.medium-title {
    text-align: left;
    margin-bottom: 45px;
}

.spoiler p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #1d1929;
    margin-bottom: 45px;
}

.spoiler p strong {
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #1d1929;
    font-style: italic;
}

figure.josh-in-moments-img {
    background-color: #fff;
    display: block;
    width: fit-content;
    padding: 20px;
    text-align: center;
    transform: rotate(5deg);
    z-index: 99;
    position: relative;
    margin-left: auto;
    margin-right: 50px;
    box-shadow: 0px 0px 20px -10px #000;
    border-radius: 10px;
}

figure.josh-in-moments-img-second {
    background-color: #fff;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 20px;
    text-align: center;
    transform: rotate(-25deg);
    margin-top: -150px;
    margin-bottom: 170px;
    z-index: 0;
    position: relative;
    box-shadow: 0px 0px 20px -10px #000;
    border-radius: 10px;
}

.spoiler-images figcaption {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

figure.josh-in-moments-img img {
    border-radius: 10px;
    transition: 0.5s;
}

figure.josh-in-moments-img-second img {
    border-radius: 10px;
    transition: 0.5s;
}

.spoiler .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    background-color: #e5e6e6;
    border-radius: 50px;
    margin: 0px 5px;
}

.spoiler .owl-dots button.owl-dot.active {
    background-color: #c0c0c0;
}

.spoiler .owl-dots {
    margin: 0px auto 50px;
    text-align: center;
}

/* Spoiler Section END */


/* meet-person Section START */
section.meet-with-real-person {
    padding: 100px 0px 150px;
}

section.meet-with-real-person .meet-person-content {
    max-width: 520px;
}

section.meet-with-real-person 
 h3.medium-title {
    text-align: left;
}

.meet-person-slider {
    position: relative;
}

.meet-person-slider .owl-nav button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 44px !important;
    line-height: 0px !important;
}

.meet-person-slider .owl-nav button.owl-prev {
    right: 60px;
}
/* meet-person Section END */



/* testimonial Section START*/

.explore-job {
    background-color: #f5f7f9;
    padding: 50px 0px 50px;
}
.testimonial-card {
    background-color: #fff;
    padding: 50px 35px;
}
.testimonial-card img {
    width: fit-content !important;
    margin: 0px auto 25px;
}

.testimonial-card h6 {
    text-align: end;
}

.explore-job .owl-dots button.owl-dot {
    width: 22px;
    height: 22px;
    background-color: #e5e6e6;
    border-radius: 50px;
    margin: 0px 5px;
}

.explore-job .owl-dots {
    display: block;
    margin: 100px auto 0px;
    width: fit-content;
}

.explore-job .owl-dots button.owl-dot.active {
    background-color: #c0c0c0;
}

/* testimonial Section END*/

/* Media Query START*/
@media (max-width: 1200px) {
    .spoiler-alert {padding: 0px 40px;}
    section.meet-with-real-person { padding: 50px 0px 100px; }
}


@media (max-width: 992px) {
    .sec-title {font-size: 34px; line-height: 48px;margin-bottom: 40px;}
    .medium-title {font-size: 20px;margin-bottom: 30px;}
    .spoiler-btn {font-size: 28px; line-height: 60px;padding: 0px 20px;}
    .spoiler { padding: 60px 20px 0px; }
    figure.josh-in-moments-img-second{
        transform: rotate(-11deg);
        margin-top: -20px;
        margin-bottom: 170px;
    }
    .testimonial-card {padding: 50px 20px;}
    .explore-job .owl-dots {margin: 50px auto 0px;}
}

@media (max-width: 768px) {
    .spoiler { padding: 60px 0px 0px; }
    .spoiler-alert { padding: 0px 20px; }
    .spoiler-images { display: flex; gap: 20px; }
    .spoiler-images figure { margin: auto; transform: unset; margin-bottom: 50px; }
    section.meet-with-real-person .row {  flex-direction: column-reverse;}
    section.meet-with-real-person .meet-person-content {margin: auto;}
    .meet-person-slider .owl-nav { display: none;}
}

@media (max-width: 576px) {

.sec-title {font-size: 24px;line-height: 38px;}
.medium-title {font-size: 20px;margin-bottom: 30px;}
.spoiler-btn {font-size: 20px;line-height: 50px;padding: 0px 20px;}
.spoiler p{margin-bottom: 20px;}
.spoiler-content h3.medium-title {margin-bottom: 20px;}
.spoiler-images figure {margin: 10px;display: block;margin: 0px auto 10px;}
.spoiler-alert { padding: 0px 10px; }
section.meet-with-real-person {padding: 50px 0px 50px;}
.explore-job .owl-dots button.owl-dot {width: 15px; height: 15px;}

}
/* Media Query END*/